{{#if this.data}}

{{#if  res}}
 {{#each res}}


 <div id="vipphoto">
   <a href="/album/{{this.numV}}/1"><button id="pre">précédent</button></a>
  <h2>{{this.nom}} {{this.prenom}}</h2><br>
   <div id="photo">
    <img id="vipAlbum" src="/images/vip/{{this.photo}}" height="250" width="200">
  </div><!--finphoto-->
  <a href="/album/{{this.numV}}/3"><button id="suiv">suivant</button></a>
  <div id="com">
    <h4> <b>Commentaire :</b></h4>

    <p><b> {{this.sujet}} : </b>{{this.com}}</p>
    <a href="/repertoire/{{this.lettre}}/{{this.numV}}"> voir sa fiche</a>
</div><!-- fin com -->



      {{/each}}
  {{else}}
    <p> Pas d'autre photos disponible  <a href= "/album/" >cliquer ici ! </a></p>
 {{/if}}



</div><!-- fin div vipphoto> -->
<div id="vipab">
{{#each numV}}
    <a href= "/album/{{this.numV}}/1" ><img id="vipAlbum" src="/images/vip/{{this.photo}}" height="50" width="50"></a>
{{/each}}
</div><!-- fin div vipab> -->


{{else}}
<h3>Cliquer sur une image :</h3>
<br><br>
  <div id="vipab1">
  {{#each numV}}
      <a href= "/album/{{this.numV}}/{{this.num}}" ><img id="vipAlbum" src="/images/vip/{{this.photo}}" height="100" width="100"></a>
  {{/each}}
</div><!-- fin div vipab1> -->
    <br><br>
		<a href= "/album-2" ><button> Suivant ></button></a>
		<a href= "/album-4" ><button> Fin >></button> </a>


{{/if}}
