{{#if this.data}}

<p> VIPs : {{#each idV}}
  <a href= "/articles/{{this.idVIP}}/{{this.nom}}" >{{this.nom}} {{this.prenom}} </a></p>
  {{/each}}

  <h1> Articles </h1>
  {{# each res}}

      <h2> {{this.titre}}</h2>
      <p>{{this.nom}} {{this.prenom}}</p>
      {{this.resume}}
      <a href="#"> voir sa fiche</a>
  {{/each}}


{{else}}

	<p>Choisissez un vip pour voir les articles le concernant</p>

  <div id="listeNom">
    <p> VIPs : <br>
    {{#each idVIP}}
    <a href= "/articles/{{this.idVIP}}/{{this.nom}}" >{{this.nom}} {{this.prenom}} </a></p>
    {{/each}}
  </div><!-- fin div id=listeNom -->

{{/if}}
