{{#if this.data}}

{{#if  res}}
 {{#each res}}
 <button><a href="/album/{{this.numV}}/2">précédent</a></button>

 <br><br><br>

  <div id="vipphoto">
    <br><br>
     <p>{{this.nom}} {{this.prenom}}</p><br>
      <img id="vipAlbum" src="/images/vip/{{this.photo}}" height="100" width="100"><br>
     <h1> Commentaire </h1><br>

     <h2> {{this.sujet}}</h2><br>
     {{this.com}}<br><br>
     <a href="#"> voir sa fiche</a>

      {{/each}}
  {{else}}
    <p> Pas d'autre photos disponible  <a href= "/album/" >cliquer ici ! </a></p>
 {{/if}}



 </div><!-- fin div vipphoto> -->
<br><br><br><br>
 <div id="vipab">
 {{#each numV}}
     <a href= "/album/{{this.numV}}/1" ><img id="vipAlbum" src="/images/vip/{{this.photo}}" height="35" width="35"></a>
 {{/each}}
 </div><!-- fin div vipab> -->


{{else}}
	Cliquer sur une image :
<br><br><br><br>
		<div id="vipab">
    {{#each numV}}
        <a href= "/album/{{this.numV}}/{{this.num}}" ><img id="vipAlbum" src="/images/vip/{{this.photo}}" height="100" width="100"></a>
    {{/each}}
	</div><!-- fin div vipab> -->
    <br><br>
		<button><a href= "/album-2" > Suivant ></a></button>
		<button><a href= "/album-4" > Fin >> </a></button>


{{/if}}
