<!--
{{#if this.data}}
	<p>Cliquer sur une autre lettre : {{#each lettres}}
	<a href= "/repertoire/{{this.lettre}}" >{{this.lettre}} </a></p>
	{{/each}}
	{{# each res}}
		<div style="display: inline-block">
			<a href= "/repertoire/"><img src="/images/vip/{{this.image}}"></a>
			<p>{{this.nom}} {{this.prenom}}</p>
		</div>
	{{/each}}
{{else}}
	Cliquer sur une lettre : {{#each lettres}}
	<a href= "/repertoire/{{this.lettre}}" >{{this.lettre}} </a>
{{/each}}
{{/if}}

-->
