{{#if this.data}}

 <a href="#">précédent</a>
	 <div id="vipab">
	 {{#each numV}}
			 <a href= "/album/{{this.numV}}/{{this.num}}" ><img id="vipAlbum" src="/images/vip/{{this.photo}}" height="100" width="100"></a>
	 {{/each}}
	 </div><!-- fin div vipab> -->
	 <br><br>
	 <div id="vipab">
		 <br><br>
	 {{#each res}}

			<p>{{this.nom}} {{this.prenom}}</p>
			<a href= "/album/{{this.numV}}/{{this.num}}" ><img id="vipAlbum" src="/images/vip/{{this.photo}}" height="100" width="100"></a>
			<h1> Commentaire </h1>

			<h2> {{this.sujet}}</h2>
			{{this.com}}
			<a href="#"> voir sa fiche</a>
		{{/each}}

		<a href="/album/{{this.numV}}">suivant</a>
 </div><!-- fin div vipab> -->


{{else}}
	Cliquer sur une image :
<br><br><br><br>
		<div id="vipab">
    {{#each numV}}
        <a href= "/album/{{this.numV}}/{{this.num}}" ><img id="vipAlbum" src="/images/vip/{{this.photo}}" height="100" width="100"></a>
    {{/each}}
	</div><!-- fin div vipab> -->
    <br><br>
		<button><a href= "/album/Album2" > Suivant ></a></button>
		<button><a href= "/album/Album3" > Fin >> </a></button>


{{/if}}
