<h1> Mettre ici la première lettre du nom des VIPs </h1>
{{#if this.data}}
	{{# each res}}
		<img src="/images/vip/{{this.image}}">
		<p>{{this.nom}} {{this.prenom}}</p> 
	{{/each}}
{{else}}
	Cliquer sur une lettre : {{#each lettres}} 
	<a href= "repertoire/{{this.lettre}}" >{{this.lettre}} </a> 
{{/each}}
{{/if}}