
{{#if this.dataL}}
	{{> ListeLettre}}
	{{#if this.dataI}}
		{{# each this.res}}
		<img src="/images/vip/{{this.image}}">
		<p>Nom : {{this.nom}} {{this.prenom}}</p>
		<p>Date de naissance : {{formatDate res.date 'dddd DD MMMM YYYY' }}</p>
		<p>Qui suis-je? : {{this.texte }}
		{{#if this.acteur }}
			{{#ifCond  this.sexe '==' "M"}}
               <p>Profession : Acteur</p>
             {{else}}
               <p>Profession : Actrice</p>
            {{/ifCond}}
			<p>Principal(aux) film(s) : 
			{{# each ../this.resA}}
				{{this.titre}} ({{formatDate this.date 'MMMM YYYY'}} de <a>{{this.nom}} {{this.prenom}})</a></p>
			{{/each}}
		{{/if}}
		{{#if this.couturier }}
			{{#ifCond  this.sexe '==' "M"}}
               <p>Profession : Couturier</p>
             {{else}}
               <p>Profession : Couturiere</p>
            {{/ifCond}}
			<p>Principal(aux) défilé(s) : 
			{{# each ../this.resCO}}
				<p>{{this.lieu}} ({{formatDate this.date 'MMMM YYYY'}})</p>
			{{/each}}
		{{/if}}
		{{#if this.chanteur }}
			{{#ifCond  this.sexe '==' "M"}}
               <p>Profession : Chanteur ({{this.cspecialite}})</p>
             {{else}}
               <p>Profession : Chanteuse ({{this.cspecialite}})</p>
            {{/ifCond}}
			<p>Principal(aux) album(s) : 
			{{# each ../this.resC}}
				{{this.titre}} ({{formatDate this.date 'MMMM YYYY'}}) de {{this.nom}}</p>
			{{/each}}
		{{/if}}
		{{#if this.mannequin }}
            <p>Profession : Mannequin</p>
			<p>Principal(aux) défilé(s) : 
			{{# each ../this.resM}}
				<p>{{this.lieu}} ({{formatDate this.date 'MMMM YYYY'}}) de {{this.nom}} {{this.prenom}}</p>
			{{/each}}
		{{/if}}
		{{#if this.realisateur }}
			{{#ifCond  this.sexe '==' "M"}}
               <p>Profession : Realisateur</p>
             {{else}}
               <p>Profession : Realisatrise</p>
            {{/ifCond}}
			<p>Principal(aux) film(s) : 
			{{# each ../this.resR}}
				{{this.titre}} ({{formatDate this.date 'MMMM YYYY'}}) </p>
			{{/each}}
		{{/if}}
		{{#if ../this.resMa }}
			<p>Mariage(s) : 
			{{# each ../this.resMa}}
				{{this.vnom}} {{this.vprenom}} ({{formatDate this.date 'MMMM YYYY'}} --> {{formatDate this.date 'MMMM YYYY'}}) {{this.lieu}} </p>
			{{/each}}
		{{/if}}
		{{#if ../this.resL }}
			<p>Liason(s) : 
			{{# each ../this.resL}}
				{{this.vnom}} {{this.vprenom}} ({{formatDate this.date 'MMMM YYYY'}}) raison fin liaison {{this.motiffin}} </p>
			{{/each}}
		{{/if}}
		
		{{#if ../this.resP }}
			{{# each ../this.resP}}
				<img data-lightbox="vip "src="/images/vip/{{this.address}}">
			{{/each}}
		{{/if}}
		{{/each}}
	{{else}}
	{{# each res}}
		<div style="display: inline-block">
			<a href= "/repertoire/{{../this.dataL}}/{{this.id}}"><img src="/images/vip/{{this.image}}"></a>
			<p>{{this.nom}} {{this.prenom}}</p>
		</div>
	{{/each}}
	{{/if}}
{{else}}
	{{> ListeLettre}}
	
{{/if}}
